* {
    margin: 0%;
    padding: 0%;

}
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');


body {
    background-color: grey;
}

#container {
    text-align: center;
    width: 300px;
    margin-left: 30%;
    border-radius: 20px;
    margin-top: 3%;
    background-color: white;
    }

    /* Imagen de la tarjeta */
.header-box img {
    width: 100%;
}

/* Textto de la terjeta  */

.text-box {
    margin-top: 15px;
    font-family: 'Anton', sans-serif;
    
}

.text-box h4 {
    margin: 10px;
}

.text-box p {
    font-size: 10px;
    color: grey;
}

/*Planes de la tarjeta */

.planes {
    display: inline-flex;
    align-items: center;
    font-family: 'Aton', sans-serif;

}

.planes img, p, a {
    margin: 5px;
    text-decoration: none;
}

/*Botones */ 

.boton-box input {
    background-color: #023e8a;
    border: none;
    border-radius: 50px;
    padding: 5px;
    margin: 10px;
    width: 200px;
    color: white;
}

.boton-box a {
    display: block;
    text-decoration: none;
    padding: 5px;
    color: gray;
}
